<%- include('../sidebar.html') %>

<div id='content'>
  <div class='panel'>

    <div class='inner topic'>
        <div class='header'>
          <div class='active pannel-tip-title' >关于</div> 
          </div>
      <div class="topic_content">
        <%- helper.markdown(`
### MixLab无界社区 
让每个人无限可能

#### 一句话介绍
MixLab无界社区，是容纳多元学科人才的跨界创新社区。 这里汇集了科技与设计多元领域的跨学科人才。以去中心化的方式，探索新知识、新领域，挖掘个人潜能，促使个体与个体之间产生更多有价值的连接，从而产生跨领域的交汇新方向。并进一步培养智能产品架构师，孵化梦想。

#### 我们的目标是
打造全球最大的去中心化的跨界创新社区;

#### 核心价值观
跨界 开放 互助 学习 创新

#### 创新者
创新者就是能帮助他人把不同领域价值有效融合在一起的人;


#### 共建者

##### [shadow](/user/shadowcz007)

全栈工程师/跨界设计师/智能产品架构师/智能设计/MixLab创始人/GET知识引擎联合创始人

##### Jeff
@jeff补充
产品／设计／初级前端和python／社群运营达人／演讲小能手/GET知识引擎创始人

##### [熊叔](/user/gold3bear)

产品经理/新媒体营销咨询/

##### Baoling
@baoling补充
 
#### [Limber](/user/limberc)
算法作曲/牛津博士/深度学习/玩音乐的


#### 社区成员

##### 公司：

主要来自GoogleBrain、微软、华为、阿里鲁班、腾讯、旷视、三角兽、物灵科技、

众安保险、美团、360等科技人才、设计师及CEO和投资人； 



##### 高校：

MIT、Oxford、Cambridge、CMU、UCB、

UoM、清华、上交大、同济等学生及教师群体；



##### 学科：

机器学习、自然语言处理、量化交易、

物联网、区块链、前端、后端、

产品经理、UI设计、建筑设计、

服装设计、珠宝设计、音乐、艺术； 


##### 社区典型的用户技能为： 

ML00：全栈开发、AI+设计、区块链技术 

ML04:  算法作曲 

ML05：AI变脸 

ML07：WebGL+Three.js数据可视化 

ML14：增长黑客 

ML16：机器学习 

ML37：AR 

ML41：人工智能+音乐 

ML44：珠宝设计+参数化设计 

ML83：量化交易、数字货币交易 

ML109：Arduino、processing 

ML113：人工智能+服装设计 

ML206：VR/AR 

ML245：建筑设计智能化 

ML258：机器学习、机械臂、混合现实、生成式设计 

ML260：AI+设计、无人机 

PS：ML+No. 为MixLab社区人员编号。
`) %>
      </div>
    </div>
  </div>
</div>
